<section class="section-review">
  <div class="container center-text">
    <span class="subheading page-head">bookings review</span>
    <h2 class="heading-secondary">
      Review or edit your booking ?
    </h2>
  </div>

  {{#each bookings}}
  <!-- # bookging image -->
  <div class="container py-0 my-0">
    <div class="row row-cols-0 row-cols-md-2">
      <div class="col mb-4">
        <div class="card">
          <img src="{{img_path}}" alt="" class="card-img-top img-fluid" />
          <div class="card-img-overlay">
            <p class="card-content">{{facilities}}</p>
          </div>
        </div>
      </div>
      <!-- # bookging image -->

      <div class="col mb-4">
        <div class="card">
          <div class="card-body">
            <!-- # confNo -->
            <p class="card-content">Confirmation number : </p>
            <p class="confirmation-content">{{_id}}</p>
            <h1>Course : {{courseID}}</h1>
            <h3>Booking On : {{date}}</h3>
            <p><h1>Venue :</h1></p>
            <h3>Room : {{facilities}}</h3>
            <h3>Room : {{facilities.[0]}}</h3>
            <!-- # testing - handlebars -->
              <h3>
              {{#with courseID}}
              {{NODE}} This is NODE
              {{else}} Not found 
              {{/with}}
              </h3>
              <h3>
              {{#if courseID}}
              This is NODE too 
              {{else}} Not found 
              {{/if}}
              </h3>
            <table class="sc-cart-table book-confirm"><h1></h1>
              <thead>
                <tr class="">
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr class="">
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>

            <ion-icon class="review-icon" name="time-outline"></ion-icon>
            <span class="card-content">Time : {{session}}</span>
            <br />

            <ion-icon class="review-icon" name="time-outline"></ion-icon>
            <span class="card-content">Room : {{facilities}}</span>
            <br />

            <ion-icon class="review-icon" name="calendar-outline"></ion-icon>
            <span class="card-content">Date : {{bookingDate}}</span>
            <br />

            <div class="row row-cols-1 row-cols-md-2">
              <div class="col mb-10">
                <a
                  href="/bookings/edit/{{_id}}"
                  class="btn btn--full btn-block"
                >Edit</a>
              </div>
              <div class="col mb-12">
                <form action="/bookings/{{_id}}?_method=DELETE" method="post">
                  <input type="hidden" name="_method" value="DELETE" />
                  <input
                    type="submit"
                    class="btn btn-light btn-block"
                    value="Cancel"
                  />
                </form>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{else}}
  <div class="container py-3 my-3">
    <div class="card">
      <p><h4 class="text-center text-muted">Start your sports jounery</h4></p>
      <a href="/calendar" class="btn btn-outline-light">Book Now</a>
    </div>
  </div>
{{/each}}